/* --------------- */
/* --- GENERAL --- */
/* --------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #004b66;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  color: antiquewhite;
}

.title {
  font-size: 3rem;
  color: antiquewhite;
  text-align: center;
}

/* ------------------ */
/* --- TRANSITION --- */
/* ------------------ */

a,
.btn {
  transition: all 300ms ease;
}

h3 {
  color: antiquewhite;

}

/* --------------------------- */
/*  --- NAVIGATION DESKTOP --- */
/* --------------------------- */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: antiquewhite;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  color: antiquewhite;
}

.logo:hover {
  cursor: default;
}

.active-link {
  color: white;
  font-weight: bold;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.highlighted-title {
  color: white;
  font-weight: bold;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

/* ------------------------------------------ */
/* --- MOBILE NAVIGATION (HAMBURGER MENU) --- */
/* ------------------------------------------ */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: antiquewhite;
  transition: all 0.5 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: antiquewhite;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
}

/* ------------------------ */
/* --- SECTIONS GENERAL --- */
/* ------------------------ */

section {
  padding-top: 4vh;
  height: 120vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

.section_sub_title {
  color: antiquewhite;
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p {
  text-align: center;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section__text__p3 {
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
}

.section__title {
  font-size: 3rem;
  color: antiquewhite;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* -------------------- */
/* --- HOME SECTION --- */
/* -------------------- */

#home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: auto;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  transition: background-image 1s ease-in-out;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ------------- */
/* --- ICONS --- */
/* ------------- */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* --------------- */
/* --- BUTTONS --- */
/* --------------- */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  background: rgb(0, 0, 0);
  border: rgb(0, 0, 0) 0.1rem solid;
  color: antiquewhite;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 2rem;
}

/* --------------------- */
/* --- ABOUT SECTION --- */
/* --------------------- */

#about {
  position: relative;
  height: auto;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 2rem 5rem;
  flex: 1;
  background: black;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

/* ---------------------------- */
/* ---  MOTIVATION SECTIONS --- */
/* ---------------------------- */

#motivation {
  position: relative;
  height: 150vh;
}

#motivation p {
  color: antiquewhite;
}

.motivation-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

/* ------------------------ */
/* --- PROJECTS SECTION --- */
/* ------------------------ */

#projects {
  position: relative;
  height: auto;
}

.projects-drawings-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.projects-animations-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.projects-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}

.projects-drawing-container {
  flex: 1;
  background: black;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  padding-bottom: 2rem;
}

.projects-video-container {
  flex: 1;
  background: black;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  padding-bottom: 2rem;
}

.projects-img {
  width: 100%;
  height: auto;
  position: relative;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  top: 0;
  left: 0;
}


.projects-video {
  width: 100%;
  height: auto;
  position: relative;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  top: 0;
  left: 0;
}

.color-container {
  border-color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}


.project-title {
  margin: 1rem;
  color: antiquewhite;
}

.project-btn {
  color: antiquewhite;
  border-color: rgb(163, 163, 163);
}

/* ----------------------- */
/* --- CONTACT SECTION --- */
/* ----------------------- */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* -------------------------- */
/* ---- IMPRESSUM SECTION --- */
/* -------------------------- */

#impressum {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 130vh;
}

#impressum p {
  color: antiquewhite;
  
}

/* ---------------------- */
/* --- FOOTER SECTION --- */
/* ---------------------- */

footer {
  display: block;
  height: 14vh;
  padding-top: 6vh;
  text-align: center;
  background-color: black;
}

footer p {
  text-align: center;
  color: white;
}

/* -------------------------- */
/* --- EXPERIENCE SECTION --- */
/* -------------------------- */

#experience {
  height: auto;
}

.timeline {
  position: relative;
  margin: 0 auto;
}

.experience-timeline-container {
  position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.experience-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
 
/* Container around content */
.timeline-container {
  position: relative;
  width: 45%;
  padding: 1.5rem;
  background: black;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: antiquewhite;
  text-align: center;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -40px;
  background-color: antiquewhite;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  float: left;
  clear: both;
}

/* Place the container to the right */
.right {
  float: right;
  clear: both;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -40px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: black;
  position: relative;
  border-radius: 6px;
}

.timeline_sub_title {
  color: antiquewhite;
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 3vh;
}

